*{
    color: white;
    background-color: rgb(15 14 46)
}
body {
    color: rgb(252, 252, 252);
    background-color: rgb(15, 14, 46) 
}

.top1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.BIENVENUE {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.VENEZ {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.BOUTON {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.PHOTO {
    display: flex;
   justify-content: center;
}
.DESCRIPTION {
    display: flex;
    justify-content: center;
}
.MidLow {
    flex-wrap: wrap;
}
/*--------------------------------------------*/

.footer{
    color: white;
    padding-top: 50px;
    background-color: #0e0a28;
    display: flex;
    justify-content: space-around;
}

/* Style de la partie gauche du footer */

.gris{
    color: rgb(174, 174, 174);
}

.footerOrange{
    color: orange;
}

.imageLiens{
    display: flex;
    align-items: center;
    height: 40px;
}

.fa{
    padding: 1px;
    color: white;
    width: 20px;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
}

.fa-twitter, .fa-facebook, .fa-google, .fa-pinterest, .fa-instagram{
    background: #FFA500;
}

.copyright{
    color: rgb(174, 174, 174);
    margin-top: 100px; 
}



/* Style de la partie droite du footer */

li{
    margin-top: 20px;
}

.gris2{
    color: rgb(174, 174, 174);
}

.gris2:hover{
    color: white;
}