/* Barre de navigation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #130e30;
}

.logo{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    position:sticky;
    color: white;
    letter-spacing: 2px;
    padding-right: 30%;
}

.nav-links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* =======  Hover Effect ========== */

.links{
    position: relative;
    text-decoration: none;
    padding: 0 6px;

}
.links:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links:hover{
    color: #ffff;
}

.links:hover:after{
    width: 100%;
}

/*
Formulaire
*/
section.login-container {
    display: flex;
    background:#130e30;
    padding-top: 100px;
    padding-bottom: 100px;
    top: 90; 
    bottom: 0;
    left: 0;
    right: 0;
}


section.login-container>div {
    width: 1154px;
    margin-left: 250px;
    padding: 0px;
    text-align: center;
    background: rgb(15, 14, 46);
}

section.login-container form {
    display: flex;
    flex-direction: column;
}

button{
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {

    background-color: rgb(39, 38, 69);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border: 1px;
    border-radius: 5px;
    outline: 0;
}

form button[type="submit"] {
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}



/* 
Pied de page
*/


/* Debut du footer */

.footer{
    padding-top: 150px;
    background-color: #0e0a28;
    display: flex;
    justify-content: space-around;
}

.Tittre-footer{
    color: white;

}

/* Style de la partie gauche du footer */

.gris{
    color: rgb(196, 196, 196);
}

.footerOrange{
    color: orange;
}

.imageLiens{
    display: flex;
    align-items: center;
    height: 40px;
    padding-top: 50px;
}

.fa{
    padding: 10px;
    color: white;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
}

.fa-twitter, .fa-facebook, .fa-google, .fa-pinterest, .fa-instagram{
    background: #FFA500;
}

.copyright{
    color: rgb(196, 196, 196);
    margin-top: 100px; 
}

/* Style de la partie droite du footer */

li{
    margin-top: 20px;
    
}

.gris2{
    color: rgb(196, 196, 196);
}

.gris2:hover{
    color: white;
}

