/*
Formulaire
*/
section.login-container {
    display: flex;
    background:#130e30;
    padding-top: 100px;
    padding-bottom: 100px;
    top: 90; 
    bottom: 0;
    left: 0;
    right: 0;
}


section.login-container div {
    width: 1154px;
    margin-left: 250px;
    padding: 0px;
    text-align: center;
    background: rgb(15, 14, 46);
}

section.login-container form {
    display: flex;
    flex-direction: column;
}

button{
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {

    background-color: rgb(39, 38, 69);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border: 1px;
    border-radius: 5px;
    outline: 0;
}

form button[type="submit"] {
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}



/* 
Pied de page
*/
