/*
Formulaire
*/
<<<<<<< HEAD
section.login-container {
    display: flex;
    background:#130e30;
    padding-top: 100px;
    padding-bottom: 100px;
    top: 90; 
    bottom: 0;
    left: 0;
    right: 0;
=======

body {
    color: white;
    background-color: rgb(23, 0, 47);
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section.login-container {
    display: flex;
    background:#130e30;
    margin-top: 5%;
    margin-bottom: 5%;
>>>>>>> Jordan
}


section.login-container div {
<<<<<<< HEAD
    width: 1154px;
    margin-left: 250px;
    padding: 0px;
=======
    width: 60%;
    margin-left: 20%;
>>>>>>> Jordan
    text-align: center;
    background: rgb(15, 14, 46);
}

section.login-container form {
    display: flex;
    flex-direction: column;
}

button{
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {

    background-color: rgb(39, 38, 69);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border: 1px;
    border-radius: 5px;
    outline: 0;
}

form button[type="submit"] {
    border: 0px solid #fff;
    padding: 13px 0px;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
    cursor: pointer;
}
<<<<<<< HEAD



=======
>>>>>>> Jordan
/* 
Pied de page
*/
