body {
    background-color: rgb(23, 0, 47);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.leJeu {
    margin-top: 5%;
    margin-bottom: 10%;
}

.les-Difficultes {
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #5b0082;
}

.container-difficulty{
    position: relative;
}

.click, .niveau{
    background-color: #c67700;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width:160px;
    color:#fff;
    transition: 0.3s;
}

.list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.newlist {
    transform: scaleY(1);
}

.niveau{
    background-color: #283c63;
}

.niveau:hover{
    background-color: #01579B;
    transform: scale(1.1);
}

.show {
    display:block;
}

/* Theme */

.container-theme{
    margin-right: 60%;
    position: relative;
}

.clickThemes, .theme{
    background-color: #c67700;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width:140px;
    color:#fff;
    transition: 0.3s;
}

.listTheme{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.newtheme {
    transform: scaleY(1);
}

.theme{
    background-color: #283c63;
}

.theme:hover{
    background-color: #01579B;
    transform: scale(1.1);
}

.show {
    display:block;
}





.les-Tableaux{
/*     background: linear-gradient(to bottom, #5cf, #28e);
	border-radius: 5.5em; */
	display: flex;
	justify-content: space-around;
}

.tableau1 {
    background-color: rgb(56, 56, 56);
    border-spacing: 5px;
    border-radius: 5px;
    margin-right: auto; 
    margin-left: auto
}

.td1 {
    border-radius: 5px;
    width: 100px;
    display: flex;
    height: 100px;
    background: #d99f00;
    float: left;
    margin: 11px 0 0 10px;
    align-items: center;
    justify-content: space-around;
}