<<<<<<< HEAD
/* page main pour l'acceuil */

=======
body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(16,14,46,255);
    margin: 0%;
    color:  white;
}

/* Arrière plan du header jusqu'au bouton jouer */

.image-acceuil{
    background-image: url("../images/Accueil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 15%;
}

/* Barre de navigation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.logo{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    position:sticky;
    padding-top: 20px;
    color: white;
    letter-spacing: 2px;
    padding-right: 20%;
}

.nav-links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* =======  Hover Effect ========== */

.links{
    position: relative;
    text-decoration: none;
    padding: 0 6px;

}
.links:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links:hover{
    color: #ffff;
}

.links:hover:after{
    width: 100%;
}
  /* Fin Barre de navigation */

header{
    background-color: #100d30;
    padding-bottom: 10%;
}


/* page main pour l'acceuil */


>>>>>>> Jordan
/* Styles de la partie accueil ainsi que le bouton jouer */

.titreAccueil {
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
<<<<<<< HEAD
=======
    text-transform: uppercase;
>>>>>>> Jordan
}

.accrocheTitre {
    color : white;
    text-align: center;
    font-weight: lighter;
}

.blocJouer {
    display: flex;
    justify-content: center;
}

.Jouer {
    margin-top: 1%;
    margin-bottom: 13%;
    background-color: rgba(236,145,35,255);
    color: white;
    width: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
}

.Jouer:hover {
    background-color: darkorange;
}

/* Style de la partie explication du jeu */

.blocTextsImages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blocImages {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 3%;
    margin-right: -3%;
}

#Images-Ordi{
    padding-right: 5%;
    width: 400px;
    height: 250px;
}

.Images {
    padding-right: 5%;
    width: 200px;
    height: 250px;
}

#numTexte {
    color: rgba(55,36,160,255);
    font-size: 200%;
}

#titreTexte {
    font-size: 90%;
}

#paragrapheExplicationJeu {
    color: rgba(130,128,153,255);
    font-weight: lighter;
    font-size: 80%;
}

/* Styles de la partie données et joueurs */

.Watchdogs {
    width: 500px;
    height: 300px;
    border-radius: 2px;
}

.backgroundDonnees {
    background-color: rgba(17,16,47,255);
}

.blocImageDonnees {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.bloc-box {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.allDonnees {
    width: 90%;
}

#textBox {
    font-size: 120%;
}

.Box1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 9%;
    font-size: 15px;
}

.Bloc1 {
    background-color: rgba(55,36,160,255);
    border-radius: 2px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bloc2 {
    background-color: rgba(24,161,95,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 9%;

}

.Box2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.Bloc3 {
    background-color: rgba(185,28,168,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 37px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bloc4 {
    background-color: rgba(236,145,35,255);
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 9%;
}

/* Style de la partie infos sur les créateurs */

.team {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.accrocheTeam {
    text-align: center;
    margin-top: 0%;
    color: rgba(130,128,153,255);
}

.blocCreateurs {
   /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Createurs {
    display: flex;
    flex-direction: column;
    background-color: #0d0b26;
    /*background-color: red;*/
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

}

.fa-brands{
    color: white;
}

.bloc-bands{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloc-bands a{
    margin-right: 10px;
}

#nomsTeam {
    text-align: center;
    font-size: 110%;
}

#textJob {
    text-align: center;
    color: rgba(130,128,153,255);
    font-size: 90%;
}

#Pdp {
    border-radius: 100px;
    width: 130px;
}

/* Style de la partie infomartions et contacts */

.backgroundInfosContact {
    background-color: rgba(13,11,38,255);
}

.informations {
    display: flex;
    justify-content: space-around;
}

strong {
    color: #FFA500;
}