/* Barre de navigation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    top: 0;
    position:sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #130e30;
}

.logo{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    position:sticky;
    color: white;
    letter-spacing: 2px;
    padding-right: 30%;
}

.nav-links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* =======  Hover Effect ========== */

.links{
    position: relative;
    text-decoration: none;
    padding: 0 6px;

}
.links:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links:hover{
    color: #ffff;
}

.links:hover:after{
    width: 100%;
}
  /* Fin Barre de navigation */

  /* Debut du Header */

/*
Image
*/


.img {
    padding-top: 5%;
    padding-bottom: 4%;
    background-image: url(/assets/images/Banniere.png);
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}


/*
Tableau
*/
.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid midnightblue;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
    color: black;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}
}

/*
Pied de page
*/

/* Debut du footer */

.footer{
    padding-top: 50px;
    background-color: #0e0a28;
    display: flex;
    justify-content: space-around;
}

.Tittre-footer{
    color: white;

}

/* Style de la partie gauche du footer */

.gris{
    color: rgb(196, 196, 196);
}

.footerOrange{
    color: orange;
}

.imageLiens{
    display: flex;
    align-items: center;
    height: 40px;
    padding-top: 50px;
}

.fa{
    padding: 10px;
    color: white;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
}

.fa-twitter, .fa-facebook, .fa-google, .fa-pinterest, .fa-instagram{
    background: #FFA500;
}

.copyright{
    color: rgb(196, 196, 196);
    margin-top: 100px; 
}

/* Style de la partie droite du footer */

li{
    margin-top: 20px;
    
}

.gris2{
    color: rgb(196, 196, 196);
}

.gris2:hover{
    color: white;
}