body {
    margin: 0;
    background-color: #10002B;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: rgb(84, 189, 224);
    text-decoration: none;
}

#title {
    padding: 120px 0 120px 0;
    width: 100%;
    text-align: center;
}

.score {
    width: 100%;
    margin-bottom: 15%;
    margin-top: 15%;
}

th, td {
    padding: 20px;
}

th {
    border: 3px solid #909090;
    border-radius: 10px;
    background-color: #1e044a;
}

tr ,td {
    border: 3px solid #909090;
    border-radius: 10px;
}