/* Barre de navigation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    outline:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #130e30;
}

.logo{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    padding-right: 30%;
}

.nav-links{
    text-decoration:none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

/* =======  Hover Effect ========== */

a{
    position: relative;
    text-decoration: none;
    padding: 0 8px;

}

a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #ffff;
}

a:hover:after{
    width: 100%;
}
  /* Fin Barre de navigation */

  /* Debut du Header */

header{
    background-color: #100d30;
    padding-bottom: 30%;
  }

.title h2{
    color: white;
    padding-top: 5%;
    padding-bottom: 4%;
    background-image: url(/assets/images/Banniere.png);
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.contact{
    margin-bottom: 22px;
    padding: 0.5rem 1rem;
    padding-top: 10%;
    align-items: flex-end;
    padding-bottom: 4%;
    color: blue;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* Form */

form{
    width: 40%;
    max-width: 500px;
    margin-left: 20%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    color: #fff;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 0px solid #fff;
    background: #282546;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: gray;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    background: #f88d00;
    outline: none;
    color: #fff;
    width: 15%;
}

input:focus~label,
input:valid~label
textarea:focus~label
textarea:valid~label{

    top: -35px;
    font-size: 14px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}


/* Debut du footer */

footer{
     background-color: #0e0a28;
     padding-bottom: 30%;
}

/* Fin du footer */
